<!doctype html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="/manifest.json">

</head>

<body ng-app="quizApp">
    <div ng-controller="QuizController" ng-class="[data.showClass]">
        <h1 style="text-align:center;font-weight:200">{{data.title}}</h1>
        <hr/>
        <div class="container showQuestion">
            <div class="row">
                <div class="col s12 m6" ng-repeat="a in data.question.answers">
                    <div class="card pop-answer" style="background-color:{{a.color}}; color:white;" ng-click="answer($index)" id="{{$index}}">
                        <div class="card-content" style="min-height: 130px; display: table; width: 100%;">
                            <div class="card-title" style="text-align: center; display: table-cell; vertical-align: middle; font-size: 64px; font-weight: 100;">
                                {{a.title}}
                            </div>
                            <hr ng-if="a.text" />
                            <p ng-if="a.text">
                                {{a.text}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <hr/>
            <div class="row">
                <h3 style="text-align:center;font-weight:300">{{Math.floor(data.time / 60)}}:{{data.time % 60}}</h3>
            </div>
        </div>
        <div class="container showPair">
            <div class="row">
                <form ng-submit="join()">
                    <div class="input-field">
                        <label for="code">Pairing Code</label>
                        <input type="text" name="code" id="code" ng-model="code" />
                    </div>
                    <div class="input-field">
                        <label for="name">Name</label>
                        <input type="text" name="name" id="name" ng-model="name" />
                    </div>
                    <button class="btn waves-light" ng-click="join()">Join</button>
                </form>

            </div>
        </div>
        <div class="container showIntermission">
            <div class="row">
                You answered {{data.question.answers[data.answer.choice].title}}, which earned you {{data.question.answers[data.answer.choice].points}}
            </div>
        </div>
        <div class="container showBeginning">
            <div class="row">
                The quiz will begin soon...<br/> Use pairing code {{data.code}} to join this session.
            </div>
        </div>
        <div class="container showEnd">
            <div class="row">
                <table class="striped">
                    <thead>
                        <tr>
                            <th data-field="Place">Place</th>
                            <th data-field="Name">Name</th>
                            <th data-field="Points">Total Points</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr ng-repeat="a in data.ranks">
                            <td>{{$index + 1}}</td>
                            <td>{{a.name}}</td>
                            <td>{{a.points}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- <div class="fixed-action-btn">
            <a class="btn-floating btn-large red" ng-click="update()" ng-disabled="updating">
                <i class="large material-icons" style="transform:rotate(90deg)">navigation</i>
            </a>
        </div> -->
    </div>

    <!-- include script tags -->
    <script type="text/javascript" src="assets/jquery/jquery-2.1.1.min.js"></script>
    <!-- This page's angular set-up -->
    <script type="text/javascript" src="assets/angular-1.5.3/angular.min.js"></script>
    <script type="text/javascript" src="controller.js"></script>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="assets/materialize/css/materialize.min.css">
    <link rel="stylesheet" href="style.css">
    <!-- Compiled and minified JavaScript -->
    <script src="assets/materialize/js/materialize.min.js"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</body>

</html>
