<!doctype html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="/manifest.json">

</head>

<body ng-app="quizApp" style="background-color:#fbfbfb">
    <div ng-controller="QuizController" ng-class="[data.showClass]">
        <!-- <h1 style="text-align:center;font-weight:200">{{data.title}}</h1>
        <hr/> -->
        <div class="container showQuestion">
            <div class="row">
                <div class="col s12 m6" ng-repeat="a in data.question.answers">
                    <div class="card pop-answer waves-effect waves-light" style="background-color:{{a.color}}; color:white; display:block" ng-click="answer($index)" id="{{$index}}">
                        <div class="card-content" style="min-height: 100px; display: table; width: 100%;">
                            <div class="card-title" style="text-align: center; display: table-cell; vertical-align: middle; font-size: 64px; font-weight: 100;">
                                {{a.title}}
                            </div>
                            <hr ng-if="a.text" />
                            <p ng-if="a.text">
                                {{a.text}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container showPair">
            <div class="row card thirdbuffer">
                <form ng-submit="join()" class="card-content" autocomplete="off">
                    <div class="row">
                        <div class="col s4"></div>
                        <span class="col s4" style="text-align:center"><button class="btn waves-effect waves-light" onclick="screenfull.toggle()">Toggle Fullscreen</button></span>
                        <div class="col s4"></div>
                    </div>
                    <div class="input-field">
                        <input type="text" name="code" id="code" ng-model="code" pattern=".{1,30}" ng-change="checkIfStarted()" ng-class="[codeIsUsed]" required />
                        <label for="code" data-error="Session with pairing code: '{{code}}' is not yet started." data-success="Ready to start using Pairing Code '{{code}}'" style="width: 100%;pointer-events: none;">Pairing Code</label>
                    </div>
                    <div class="input-field">
                        <input type="text" name="name" id="name" ng-model="name" pattern=".{1,30}" required ng-change="checkHasJoined()" ng-class="[nameIsUsed]" />
                        <label for="name" data-error="Someone with the name '{{name}}' has already joined" style="width: 100%;pointer-events: none;">Name</label>
                    </div>
                    <input type="submit" class="btn waves-light" value="Join"></input>
                </form>

            </div>
        </div>
        <div class="container showIntermission">
            <div class="row">
                You answered {{data.question.answers[data.answer.choice].title}}, which earned you {{data.question.answers[data.answer.choice].points}} points
            </div>
        </div>
        <div class="container showBeginning">
            <div class="row">
                The quiz will begin soon...
            </div>
        </div>
        <div class="container showEnd">
            <div class="row">
                <h3>Good work, {{name}}!</h3>
                <div class="card">
                    <div class="card-content" style="text-align:center;color:#4e4e4e">
                        <h3>Place</h3>
                        <hr/>
                        <span style="font-family:impact; font-size:80px;">{{rank | ordinal}}</span>
                    </div>
                </div>
                <div class="card">
                    <div class="card-content" style="text-align:center;color:#4e4e4e">
                        <h3>Points</h3>
                        <hr/>
                        <span style="font-family:impact; font-size:80px;">{{data.users[userID].score}}</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="fixed-action-btn">
            <a class="btn-floating btn-large red" ng-click="update()" ng-disabled="updating">
                <i class="large material-icons" style="transform:rotate(90deg)">navigation</i>
            </a>
        </div> -->
    </div>

    <!-- include script tags -->
    <script type="text/javascript" src="assets/jquery/jquery-2.1.1.min.js"></script>
    <!-- This page's angular set-up -->
    <script type="text/javascript" src="assets/angular-1.5.3/angular.min.js"></script>
    <script type="text/javascript" src="controller.js"></script>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="assets/materialize/css/materialize.min.css">
    <link rel="stylesheet" href="style.css">
    <!-- Compiled and minified JavaScript -->
    <script src="assets/materialize/js/materialize.min.js"></script>
    <script src="assets/screenfull.js"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script>
        $('.thirdbuffer').css('margin-top', window.innerHeight / 4 + 'px');
    </script>
</body>

</html>
