<!doctype html>
<html>

<head>
</head>

<body ng-app="quizApp" ng-cloak style="background-color:#fbfbfb">
    <div ng-controller="PresenterController" ng-class="[data.showClass]">
        <h1 style="text-align:center;font-weight:200">{{data.title}}</h1>
        <hr/>
        <div class="container showQuestion">
            <div class="row">
                <div class="col m6" ng-repeat="a in data.question.answers">
                    <div class="card" style="background-color:{{a.color}}; color:white;">
                        <div class="card-content" style="min-height: 200px; display: table; width: 100%;">
                            <div class="card-title" style="text-align: center; display: table-cell; vertical-align: middle; font-size: 46px; font-weight: 100;">
                                {{a.title}}
                            </div>
                            <hr ng-if="a.text" />
                            <p ng-if="a.text">
                                {{a.text}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <hr/>
            <div class="row" ng-if="data.time >= 0">
                <h3 style="text-align:center;font-weight:300">{{Math.floor(data.time / 60)}}:{{data.time % 60}}</h3>
            </div>
        </div>
        <div class="container showPair">
            <div class="row card" style="margin-top:180px">
                <div class="card-content">
                    <form ng-submit="pair()" autocomplete="off">
                        <div class="row">
                            <div class="col s4"></div>
                            <span class="col s4" style="text-align:center"><button class="btn waves-effect waves-light" onclick="screenfull.toggle()">Toggle Fullscreen</button></span>
                            <div class="col s4"></div>
                        </div>
                        <div class="input-field">
                            <input type="text" name="code" id="code" ng-model="code" ng-change="checkIfStarted()" ng-class="[codeIsUsed]" />
                            <label for="code" data-error="Pairing Code '{{code}}' has already started. Press Join or choose a different pair code" data-success="Ready to start using Pairing Code '{{code}}'" style="width: 100%;pointer-events: none;">Pairing Code</label>
                        </div>
                        <br/>
                        <div class="input-field">
                            <input type="text" name="quizID" id="quizID" ng-model="quizID" ng-change="checkIfExists()" ng-class="[quizExists]" ng-disabled="startJoin == 'join'" />
                            <label for="quizID" data-error="Question Set '{{quizID}}' does not exist" style="width: 100%;pointer-events: none;">Question Set</label>
                        </div>
                        <input type="submit" class="btn waves-effect waves-light" value="{{startJoin}}" />
                    </form>
                </div>
            </div>
        </div>
        <div class="container showIntermission">
            <div class="row">
                <table class="striped">
                    <thead>
                        <tr>
                            <th data-field="Name">Name</th>
                            <th data-field="Answer">Answer</th>
                            <th data-field="Points">Points</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr ng-repeat="a in data.answers | orderBy: 'data.question.answers[a.choice].points'">
                            <td>{{data.users[a.userID].name}}</td>
                            <td>{{data.question.answers[a.choice].title}}</td>
                            <td>{{data.question.answers[a.choice].points}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="container showBeginning">
            <div class="row">
                <!-- The quiz will begin soon...<br/> Use pairing code {{code}} to join this session. -->
                <div class="col s3"></div>
                <div class="col s6 card thirdbuffer">
                    <div class="card-content" style="text-align:center;color:#4e4e4e">
                        <h3>Pairing Code</h3>
                        <hr/>
                        <span style="font-family:impact; font-size:80px;">{{code}}</span>
                    </div>
                </div>
                <div class="col s3"></div>
            </div>
            <br><br>
            <div class="row">
              <div class="col l1" ng-repeat="user in data.users">
                {{user.name}}
              </div>
            </div>
        </div>
        <div class="container showSection" style="position: relative">
            <h3 style="font-weight:200">
              {{data.question.text}}
            </h3>
        </div>
        <div class="container showEnd">
            <div class="row">
                <table class="striped">
                    <thead>
                        <tr>
                            <th data-field="Place">Place</th>
                            <th data-field="Name">Name</th>
                            <th data-field="Points">Total Points</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr ng-repeat="u in data.users | orderBy:'-score'">
                            <td>{{$index + 1 | ordinal}}</td>
                            <td>{{u.name}}</td>
                            <td>{{u.score}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="fixed-action-btn next-fab">
            <a class="btn-floating btn-large red waves-effect waves-light" ng-click="next()" ng-disabled="updating">
                <i class="large material-icons" style="transform:rotate(90deg)">navigation</i>
            </a>
        </div>
    </div>

    <!-- include script tags -->
    <script type="text/javascript" src="assets/jquery/jquery-2.1.1.min.js"></script>
    <!-- This page's angular set-up -->
    <script type="text/javascript" src="assets/angular-1.5.3/angular.min.js"></script>
    <script type="text/javascript" src="controller.js"></script>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="assets/materialize/css/materialize.min.css">
    <link rel="stylesheet" href="style.css">
    <!-- Compiled and minified JavaScript -->
    <script src="assets/materialize/js/materialize.min.js"></script>
    <script src="assets/screenfull.js"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script>
        $('.thirdbuffer').css('margin-top', window.innerHeight / 5 + 'px')
    </script>
</body>

</html>
