hr {
    margin-top: 2.5px;
    margin-bottom: 10px;
    border-width: 0.5px;
    border-style: solid;
    border-color: #ddd;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.pop-answer:target {
    box-shadow: 0 5px 10px 0 rgb(255, 122, 0), 2px 2px 4px 1px rgb(255, 193, 0);
}


/* label color */
.input-field label {
    color: #333740;
}

/* label focus color */
.input-field input[type=text]:focus+label {
    color: #333740;
}

.btn {
  background-color:#333740;
}
.btn:hover {
  background-color:#384C53;
}
/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid #333740;
    box-shadow: 0 1px 0 0 #333740;
}

.pair>.next-fab {
    display: none;
}

/* screen changing CSS */

.showPair {
    display: none;
}

.pair>.showPair {
    display: block;
}

.showQuestion {
    display: none;
}

.question>.showQuestion {
    display: block;
}

.showIntermission {
    display: none;
}

.intermission>.showIntermission {
    display: block;
}

.showBeginning {
    display: none;
}

.beginning>.showBeginning {
    display: block;
}

.showEnd {
    display: none;
}

.end>.showEnd {
    display: block;
}

.showSection {
    display: none;
}

.section>.showSection {
    display: block;
}
