hr {
    margin-top: 2.5px;
    margin-bottom: 10px;
    border-width: 0.5px;
    border-style: solid;
    border-color: #ddd;
}


.show {
  display: block;
}
.hide {
  display: none;
}
